aniso8601==7.0.0
appdirs==1.4.4
attrs==21.2.0
black==21.5b1
click==7.1.2
fastapi==0.65.2
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
gunicorn==20.1.0
h11==0.12.0
httptools==0.2.0
iniconfig==1.1.1
isort==5.8.0
mypy-extensions==0.4.3
packaging==20.9
pathspec==0.8.1
pendulum==2.1.2
pluggy==0.13.1
promise==2.3
py==1.10.0
pydantic==1.8.2
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.1
pytzdata==2020.1
regex==2021.4.4
Rx==1.6.1
six==1.16.0
starlette==0.27.0
toml==0.10.2
typing-extensions==3.10.0.0
uvicorn==0.13.4
uvloop==0.15.2
